*, *:before, *:after {
  box-sizing: inherit;
}

html {
  --ac-color-bg-main: #fdfdfd;
  --ac-color-bg-accent: #34393c;
  --ac-color-bg-highlight: #5eabc4;
  --ac-color-text-main: #34393c;
  --ac-color-text-accent: #fdfdfd;
  --ac-color-text-highlight: #fdfdfd;

  --ac-column-padding: 1.875em;
  --ac-column-gap: 2em;

  --ac-projects-gap: 1.25em;
}

html {
  font-size: 13px;
}

body {
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: var(--ac-color-text-main);

  @media not print {
    background: #ccc;
  }
}

strong {
  font-weight: 600;
}

p:not(:first-child) {
  margin-top: 0.625em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

ul.inline {
  display: inline;
}

ul.inline li {
  display: inline;
}

ul.inline li:not(:first-child)::before {
  content: '\2013';
  margin: 0 0.5ch 0 0.3ch;
  font-weight: 700;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

dl dt {
  display: inline;
  font-weight: 500;
}

dl dt::after {
  content: ':';
  margin-right: 0.5ch;
}

dl dd {
  display: inline;
  font-weight: 300;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}

path {
  fill: currentColor;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--ac-color-bg-main);

  @media not print {
    width: 980px;
    margin: 1.875em auto;
  }
}

.print-only {
  @media not print {
    display: none;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  border-bottom: 5px solid var(--ac-color-bg-highlight);
  padding: 1.875em;
  background: var(--ac-color-bg-accent);
  color: var(--ac-color-text-accent);
}

.identity {
  flex: 1;
}

.name {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2.5em;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  font-size: 0.8125em;
}

.contacts a {
  text-decoration: none;
  color: inherit;
}

.contact {
  display: flex;
  align-items: center;
  border-bottom: 3px solid currentColor;
  padding-right: 1.5em;
  padding-bottom: 0.4em;
}

.contact .icon {
  flex: 0 0 0;
  position: relative;
  margin-right: 0.7em;
  border-radius: 100%;
  padding: .3em;
  background: var(--ac-color-bg-main);
  font-size: 1.5em;
  color: var(--ac-color-text-main);
}

.contact .content {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  display: flex;
}

.column {
  order: 10;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: var(--ac-column-gap);
  padding: var(--ac-column-padding);
}

.side {
  order: 0;
  flex: 0 0 30%;
}

.column.accent {
  background: var(--ac-color-bg-accent);
  color: var(--ac-color-text-accent);
}

.title {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 1.5em;
  text-transform: uppercase;
}

.title.accent {
  border-radius: 6px;
  background-color: var(--ac-color-bg-accent);
  text-align: center;
  color: var(--ac-color-text-accent);
}

.accent .title.accent {
  background-color: var(--ac-color-bg-highlight);
  color: var(--ac-color-text-highlight);
}

.main .title.accent {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: var(--ac-projects-gap);
}

.project {
  display: flex;
  flex-direction: column;
}

.project .title {
  margin: 0 0 0.625em;
  font-weight: 500;
  font-size: 1.25em;
  text-decoration: underline;
}

.project .duration {
  margin-bottom: 0.625em;
}

.project .web {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: 0.625em;
}

.project .web a {
  color: var(--ac-color-bg-highlight);
}

.project dl {
  text-align: justify;
}

.web-version {
  margin-top: auto;
  font-size: 0.6em;
  text-align: center;
  opacity: 0.6;
}

.web-version a {
  color: inherit;
}
