@mixin font-face($name, $path, $weight: 400, $style: normal) {
    $fullPath: "../assets/fonts/#{$path}";

    @font-face {
        font-family: $name;
        src: url("#{$fullPath}.woff2") format('woff2'),
        url("#{$fullPath}.woff") format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function pxToRem($px, $isRem: true) {
    @return if($isRem, 1rem, 1em) * $px / $rootFontSize;
}
