
$fontSizeRef: 16px;
$rootFontSize: 14px;

// Colors
$textBlack: #555;
$textGrey: #999;
$mainColor: #E32636; // TODO find the main color
$borderGrey: #ccc;

// Fonts fallback
$headings: $headingsName, Georgia, sans-serif;
$body: $bodyName, Arial, sans-serif;
