
$rootFontSize: 14em / 16; // for a font size browser setting set to medium (usually 16px)

// Colors
$textBlack: #555;
$mainColor: #E32636; // TODO find the main color

// Fonts fallback
$openSans: Open Sans, Arial, sans-serif;
