.timeline {
    & > * > * {
        padding-bottom: 1.4286em;
    }

    .year {
        $lineHeight: 1.2;

        width: 60px;
        position: relative;
        font-size: pxToRem(11px);
        text-align: center;
        color: $textGrey;

        &:not(:empty):before {
            $separatorHeight: .8em;

            content: "";
            display: block;
            height: $separatorHeight;
            position: absolute;
            top: $lineHeight * 1em + (1em - $separatorHeight)/2;
            left: 50%;
            margin-top: .1em;
            border-left: 1px solid currentColor;
        }

        .from,
        .to {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            background: #fff;
            line-height: $lineHeight;
            white-space: nowrap;
        }

        .from {
            top: 2em * $lineHeight;
        }

        .to {
            top: 0;
        }
    }

    .content {
        padding-left: 1em;
    }

    .title {
        display: block;
        margin-bottom: .6em;
        padding-bottom: .3em;
        border-bottom: 1px dashed $borderGrey;
        font-weight: 700;
        font-size: pxToRem(16px);
        font-family: $headings;
    }



    .grouped {
        &.head {
            & > * {
                padding-bottom: 10px;
                border-bottom: 3px double $borderGrey;
            }

            &:not(:first-child) > * {
                border-top: 20px solid transparent;
            }

            & + .grouped > * {
                border-top: 10px solid transparent;
            }
        }

        .group-title {
            margin-bottom: .3em;
            font-weight: 700;
            font-size: pxToRem(20px);
            line-height: 1;
        }
    }
}
